.matricula{

    display: flex;
    justify-content: center;
    flex-direction: column;


}

.container_matricula{

    display: flex;
    justify-content: center;

}

.container_matricula p{

    color: #000;

}

.aluno{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.container_aluno{
    display: flex;
    justify-content: center;
}

.container_aluno p{

    color:#000;

}

.endereco{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.container_endereco{
    display: flex;
    justify-content: center;
}

.container_endereco p{
    color:#000;
}

.curso{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.container_curso{
    display: flex;
    justify-content: center;
}

.container_curso p{
    color:#000;
}