body{
    background-color: white;
    border-collapse: collapse;
    border-width: 0px;
}

.cabecalho{
    display: flex;
    justify-content: center;
}

body tr:nth-child(2n) {
    background-color: rgb(226, 251, 255);
}

body tr:nth-child(2n+1) {
    background-color: rgb(230, 230, 230);
}